@font-face {
    font-family: 'Open Sans-B';
    src: url(../../fonts/OpenSans/OpenSans-Bold.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-BI';
    src: url(../../fonts/OpenSans/OpenSans-BoldItalic.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-BoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-L';
    src: url(../../fonts/OpenSans/OpenSans-Light.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-M';
    src: url(../../fonts/Poppins/Poppins-Medium.woff2) format('woff2'),
        url(../../fonts/Poppins/Poppins-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-L';
    src: url(../../fonts/Poppins/Poppins-Light.woff2) format('woff2'),
        url(../../fonts/Poppins/Poppins-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-LI';
    src: url(../../fonts/OpenSans/OpenSansLight-Italic.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSansLight-Italic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-I';
    src: url(../../fonts/OpenSans/OpenSans-Italic.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-Italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/Poppins/Poppins.woff2) format('woff2'),
        url(../../fonts/Poppins/Poppins.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-EB';
    src: url(../../fonts/OpenSans/OpenSans-ExtraboldItalic.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-ExtraboldItalic.woff) format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-R';
    src: url(../../fonts/Poppins/Poppins-Regular.woff2) format('woff2'),
        url(../../fonts/Poppins/Poppins-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../../fonts/OpenSans/OpenSans.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-E';
    src: url(../../fonts/OpenSans/OpenSans-Extrabold.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-Extrabold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans-SB';
    src: url(../../fonts/OpenSans/OpenSans-SemiboldItalic.woff2) format('woff2'),
        url(../../fonts/OpenSans/OpenSans-SemiboldItalic.woff) format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-S';
    src: url(../../fonts/Poppins/Poppins-SemiBold.woff2) format('woff2'),
        url(../../fonts/Poppins/Poppins-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url(../../fonts/Museo/MuseoSans-500.woff2) format('woff2'),
        url(../../fonts/Museo/MuseoSans-500.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url(../../fonts/myriad-pro/MyriadPro-Regular.woff2) format('woff2'),
        url(../../fonts/myriad-pro/MyriadPro-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}